<div class="new-cor-card row align-middle">
  <div class="col-11">
      <div class="form-row align-items-center">
          <div class="form-group col-6" id="cor-received">
            <label for="new-cor-received-date" class="h6">COR Received</label>
            {{input type="date" value=dateCORReceived class="form-control" id="new-cor-received-date" autofocus="autofocus"}} 
          </div>
          <div class="form-group col-6" id="next-court-date">
            <label for="new-cor-next-court-date" class="h6">Next Court Date</label>
            {{input type="date" value=nextCourtDate class="form-control" id="new-cor-next-court-date" autofocus="autofocus"}}
          </div>
      </div>
  </div>
  <div class="col-1">
    <div class="form-row h-100 align-items-center">
      <button id="add-cor-icon" {{action "createCOR"}}>{{fa-icon "plus-circle" size="3" ariaLabel="Add Entry"}}</button>
    </div>
  </div>
</div>
<ul id="cor-list">
{{ cor-list cors=model }}
</ul>
